h1{
    color: blue;
    background-color: orangered;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline wavy;
    text-align: center;
    padding: 20px;
    border-width: 30px;
    border-radius: 25px;
}

.m-auto {
    margin-left: 50px;
}

.pain {
    background-image: url(pain.jpg);
    background-size: 100% 100%;
    width: 300px; height: 100px;
}

.pain1 {
    background-image: url(pain1.png);
    background-size: 100% 100%;
    width: 300px; height: 100px;
}

.pickel {
    background-image: url(pickel.png);
    background-size: contain;
    width: 200px; height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.salade {
    background-image: url(salade.png);
    background-size: contain;
    width: 200px; height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.barbecue {
    background-image: url(barbecue.jpg);
    background-size: contain;
    width: 200px; height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.chicken {
    background-image: url(chicken.jpg);
    background-size: contain;
    width: 200px; height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.tomate {
    background-image: url(tomate.jpg);
    background-size: contain;
    width: 200px; height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.onion {
    background-image: url(onions.png);
    background-size: contain;
    width: 200px; height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

.cheddar {
    background-image: url(cheddar1.jpg);
    background-size: contain;
    width: 200px; height: 100px;
    background-repeat: no-repeat;
    background-position: center;
}
